/* body里的元素全变成块级 并且居中 */
* {
	margin: 0;
	padding: 0;
}
.lock{
	margin-left: 10px;
}

div {
	display: flex;
	justify-content: center;
	/* 水平居中 */
	align-items: center;
	/* 垂直居中 */
}

body * {
	margin-bottom: 20px;
}

/* 输入框右边的上下选择消失 */
.no-spinners::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* 输入框 */
#roomId {
	background-color: #f7f7f7;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	color: #333;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.3s ease;
}

#roomid:focus {
	outline: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* 复制来的按钮样式 */
.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	border: none;
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;
	padding: 10px 40px;
}

.blue {
	background-color: #3498db;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red {
	background-color: #e74c3c;
	border-bottom: 5px solid #c0392b;
	text-shadow: 0px -2px #c0392b;
}

.green {
	background-color: #2ecc71;
	border-bottom: 5px solid #27ae60;
	text-shadow: 0px -2px #27ae60;
}

.yellow {
	background-color: #f1c40f;
	border-bottom: 5px solid #f39c12;
	text-shadow: 0px -2px #f39c12;
}

.action-button:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	border-bottom: 1px solid;
}