#mediaDiv {
    width: 100%;
    height: auto;
    border: 2px solid red;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#mediaDiv video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#mediaDiv audio {
    width: 100%;
    margin-bottom: 10px;
}

#outputPre {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow: auto;
    border-radius: 5px;
    max-height: 300px;           /* 限制高度为 300px */
}
