/* 设置全局字体和边距 */
body {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
  }

  /* 设置侧边栏样式 */
  .sidebar {
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #d3d3d3;
	overflow-x: hidden;
	transition: 0.5s;
  }

  /* 设置侧边栏中链接的样式 */
  .sidebar a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	transition: 0.3s;
  }

  /* 设置鼠标悬停在链接上时的样式 */
  .sidebar a:hover {
	color: #f1f1f1;
  }

  /* 设置主内容区域的样式 */
  #main {
	transition: margin-left .5s;
	padding: 16px;
	margin-left: 50px;
  }