node_modules

novel/output/*

docker_services/*
!docker_services/*/
docker_services/*/*
!docker_services/*/docker-compose.yaml
!docker_services/*/Dockerfile

!docker_services/vsa/config.yaml
!docker_services/vsa/nltk_data
!docker_services/vsa/config.txt
!docker_services/vsa/phrases_dict.txt

